:root {
	--light-blue: #04c3ff;
	--light-blue-shadow: rgb(69 211 255 / 27%);
	--sea-green: #0abead;
	--sea-green-dark: #0cbfae;
	--sea-green-extra-dark: #09bead;
	--sea-green-shadow: rgba(11, 190, 173, 0.4);
	--header-hamburger-background: rgba(11, 190, 173, 0.8);
	--orange: #f57f17;
	--dark-orange: #ff5823;
	--orange-shadow: rgba(245, 127, 23, 0.2);
	--white: #ffffff;
	--black: #333333;
	--disabled-btn: #09bead7a;
	--error-message: #e44f4fd1;
	--toast-error: #e44f4ffa;
	--toast-shadow: #9c9c9ce3;
	--toast-success: #0cbfae;
	--loader-color: #0cbfae;
	/* hdsghsf */
	--first-color: #d90062;
	--first-alpha-color: rgba(217, 0, 98, 0.75);
	--second-color: #14192d;
	--second-alpha-color: rgba(20, 25, 45, 0.75);
	--third-color: #501464;
	--third-alpha-color: rgba(80, 20, 100, 0.75);
	--white-color: #fff;
	--gray-light-color: #f3f3f3;
	--gray-color: #ccc;
	--gray-dark-color: #666;
	--black-color: #000;
	--link-color: #509ee3;
	--title-color: #333;
	--text-color: #222;
	--white-alpha-color: rgba(255, 255, 255, 0.5);
	--black-alpha-color: rgba(0, 0, 0, 0.5);
	--font: "Poppins Regular", sans-serif;
}

/* ********** Reset ********** */
html {
	box-sizing: border-box;
	font-family: var(--font);
	font-size: 16px;
	scroll-behavior: smooth;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	margin: 0;
	overflow-y: overlay;
	overflow-x: hidden;
	font-family: "Poppins Regular";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: "Poppins Medium";
	font-style: normal;
	font-weight: normal;
	src: url("./assets/fonts/Poppins-Medium.ttf");
}

@font-face {
	font-family: "Poppins Regular";
	font-style: normal;
	font-weight: normal;
	src: url("./assets/fonts/Poppins-Regular.ttf");
}

@font-face {
	font-family: "Poppins SemiBold";
	font-style: normal;
	font-weight: normal;
	src: url("./assets/fonts/Poppins-SemiBold.ttf");
}

@font-face {
	font-family: "Poppins Bold";
	font-style: normal;
	font-weight: normal;
	src: url("./assets/fonts/Poppins-Bold.ttf");
}

@font-face {
	font-family: "Poppins ExtraBold";
	font-style: normal;
	font-weight: normal;
	src: url("./assets/fonts/Poppins-ExtraBold.ttf");
}

@font-face {
	font-family: "Poppins Light";
	font-style: normal;
	font-weight: normal;
	src: url("./assets/fonts/Poppins-Light.ttf");
}

@font-face {
	font-family: "Poppins Thin";
	font-style: normal;
	font-weight: normal;
	src: url("./assets/fonts/Poppins-Thin.ttf");
}

* {
	outline: none;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

::-webkit-scrollbar {
	width: 6px !important;
	height: 6px !important;
}

body ::-webkit-scrollbar-thumb {
	background-color: hsla(0, 0%, 100%, 0.16);
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
	background: hsla(0, 0%, 100%, 0.1);
}

.butn {
	border-radius: 50px;
	padding: 11px 0;
	width: 160px;
	cursor: pointer;
	transition: 0.2s;
	font-family: "Poppins SemiBold";
}

.butn:active {
	transform: translateY(2px);
}

.primary-btn {
	color: var(--white);
	border: 2px solid linen;
	font-size: 12px;
	background-color: #1f2235;
}
/* @media only screen and (max-width: 414px) {
  .primary-btn {
    font-size: 13px;
  }
} */

.primary-btn:hover {
	color: aliceblue;
	border: 2px solid #ff5823;
	background-color: #1f2235;
}

.highlighted-btn {
	color: var(--white);
	font-size: 12px;
	background-color: #ff5823;
}
@media only screen and (max-width: 568px) {
	.highlighted-btn {
		z-index: -900;
	}
}

.red-border {
	border: 1px solid var(--error-message) !important;
}

.fade-in {
	opacity: 0;
	transform: translateY(80px);
	transition: all 0.8s ease;
}
